.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal {
  background-color: #fff;
  padding: 20px 0;
}

.cabecalhoPrincipal-titulo {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
  text-decoration: none;
  color: inherit;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

.cabecalhoPrincipal-nav-link {
  padding: 10px;
  margin-bottom: 10px;
  color: #9799a6;
  background-color: #fff;
  text-decoration: none;
  transition: 0.5s;
  display: block;

  border-bottom: 1px solid #9799a6;
}
